// Change Bootstrap's primary and secondary colors to custom ones
$primary: #e5c65f;
$secondary: #bab3b3;

body {
  background-image: url('../../dist/img/bg-backpack.jpg');
  background-size: cover;
}

#country-menu {
  margin-right: 5rem;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

// #clearBtn {
//   margin-top: 50px;
//   margin-bottom: 150px;
// }

// #sumvisited {
//   margin-left: 100px;
// }

.title-container {
  display: flex;
  justify-content: space-between;
}

.weather span {
  font-size: 1.5rem;
}
